
@using MetroSMS.Data.Model.ORM.Entity
@using GridMvc.Html
@model List<UserVM>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

    <div class="container-fluid">

      <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Kullanıcı Listesi</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @Html.Grid(Model).Columns(columns =>
    {
    columns.Add(c => c.Name).Titled("Kullanıcı Adı").Filterable(true);
    columns.Add(c => c.SurName).Titled("Kullanıcı Soyadı").Filterable(true);
    columns.Add(c => c.PhoneNumber).Titled("Kullanıcı TelefonNo").Filterable(true);
        columns.Add(c => c.RestourantName).Titled("Restorant Adı").Filterable(true);
        columns.Add(c => c.WebSiteName).Titled("Web Site").Filterable(true);
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Titled("Kullanıcı Detay").Filterable(false).RenderValueAs(c => @Html.ActionLink("detay", "detay", new { id =c.ID }, new { @class = "btnEdit btn btn-success glyphicon glyphicon-tasks btn_ProductList" }));

}).WithPaging(10).Sortable(true)
                </div>
            </div>
        </div>
    </div>




